<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExampleAugmentosApp"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ExampleAugmentosApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.teamopensourcesmartglasses.example_augmentos_app.ExampleAugmentosAppService"
            android:exported="true">

            <!-- Required intent filter to communicate with AugmentOS -->
            <intent-filter>
                <action android:name="AUGMENTOS_INTENT" />
            </intent-filter>

            <!-- Metadata to identify this as an AugmentOS TPA -->
            <meta-data android:name="com.augmentos.TPA" android:value="true" />
        </service>

    </application>

</manifest>