firebase-admin
aiohttp
aiohttp_cors
nltk
google-cloud-language
google-cloud-enterpriseknowledgegraph
googlemaps
responses
pandas
numpy
sentence_transformers
chromadb
bs4
Wikipedia-API
tiktoken
pymongo
fuzzysearch
txtai
transformers
bert-extractive-summarizer
webvtt-py
rapidfuzz
wolframalpha
pydantic==1.10.13
gspread
oauth2client
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
openpyxl
pypinyin
llmlingua
openai==1.14.1
langchain==0.1.11
langchain-community==0.0.26
langchain-core==0.1.29
langchain-openai==0.0.8
langchain-text-splitters==0.0.1
jieba