aiohttp
aiohttp_cors
openai
langchain
nltk
google-cloud-language
google-cloud-enterpriseknowledgegraph
googlemaps
responses
pandas
sentence_transformers
chromadb
bs4
Wikipedia-API
tiktoken
pymongo
fuzzysearch