<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-feature
      android:name="android.hardware.telephony"
      android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

  <uses-permission android:name="android.permission.INTERNET"/>
<!--  <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
<!--  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

  <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<!--  <uses-permission android:name="android.permission.CAMERA" />-->

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

<!--  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->

    <!-- BACKGROUND CAMERA FOR GLASSES -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />


    <!-- Application node is not neccessary for libraries -->
  <application>
<!--      android:usesCleartextTraffic="true"-->
<!--      android:icon="@mipmap/ic_launcher"-->
<!--      android:label="@string/app_name"-->
<!--      android:roundIcon="@mipmap/ic_launcher_round"-->
<!--      android:supportsRtl="true"-->
<!--      android:theme="@style/AppTheme">-->

    <receiver
        android:name=".BootReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

    <activity
        android:name="com.augmentos.augmentos_core.MainActivity"
        android:exported="true"
        android:theme="@style/AppTheme">
<!-- Comment these out to prevent Core from having its own launcher icon -->
        <!--      <intent-filter>-->
<!--        <action android:name="android.intent.action.MAIN"/>-->
<!--        <category android:name="android.intent.category.LAUNCHER"/>-->
<!--      </intent-filter>-->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:scheme="augmentos"
            android:host="open" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.augmentos.augmentos_core.PermissionsActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" />


    <!--    <service-->
<!--        android:name=".MyNotificationListeners"-->
<!--        android:label="@string/app_name"-->
<!--        android:exported="false"-->
<!--        android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">-->
<!--      <intent-filter>-->
<!--        <action android:name="android.service.notification.NotificationListenerService" />-->
<!--      </intent-filter>-->
<!--      <meta-data-->
<!--          android:name="android.service.notification.default_filter_types"-->
<!--          android:value="conversations|alerting"/>-->
<!--      <meta-data-->
<!--          android:name="android.service.notification.disabled_filter_types"-->
<!--          android:value="ongoing|silent"/>-->
<!--    </service>-->
    <service android:name=".ScreenCaptureService"
        android:exported="false"
        android:foregroundServiceType="mediaProjection" />
      <service
          android:name=".smarterglassesmanager.camera.CameraRecordingService"
          android:enabled="true"
          android:exported="false"
          android:foregroundServiceType="camera|microphone" />
    <service android:name="com.augmentos.augmentos_core.AugmentosService"
        android:foregroundServiceType="microphone"
        android:exported="true"
        android:label="AugmentOS Main"
        android:theme="@style/AppTheme">
<!--        <intent-filter>-->
<!--          <action android:name="AUGMENTOS_INTENT" />-->
<!--        </intent-filter>-->
        <intent-filter>
          <action android:name="ACTION_START_CORE" />  <!-- Must match the action used in the Manager -->
          <action android:name="ACTION_STOP_CORE" />  <!-- Must match the action used in the Manager -->
        </intent-filter>
    </service>
    <service android:name="com.augmentos.augmentos_core.AugmentosSmartGlassesService"
        android:foregroundServiceType="microphone"
        android:exported="true"
        android:label="AugmentOS SGM"
        android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="AUGMENTOS_INTENT" />
      </intent-filter>
<!--      <intent-filter>-->
<!--        <action android:name="com.augmentos_manager.ACTION_SEND_JSON" />  &lt;!&ndash; Must match the action used in the Manager &ndash;&gt;-->
<!--        <category android:name="android.intent.category.DEFAULT" />-->
<!--      </intent-filter>-->
    </service>

    <receiver
        android:name="com.augmentos.augmentos_core.tpa.AugmentOSLibBroadcastReceiver"
        android:enabled="true"
        android:exported="true" >
      <intent-filter>
        <action android:name="com.augmentos.fromtpa" />
      </intent-filter>
    </receiver>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_provider" />
    </provider>

  </application>

    <queries> <intent> <action android:name="android.media.action.IMAGE_CAPTURE" /> </intent> </queries>

  <queries>
    <intent>
      <action android:name="android.intent.action.TTS_SERVICE" />
    </intent>
  </queries>

  <queries>
    <intent>
      <action android:name="AUGMENTOS_INTENT" />
    </intent>
  </queries>

  <queries>
    <package android:name="com.augmentos.augmentos_manager" />
  </queries>

</manifest>
