.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  position: relative;
  flex-direction: column;
}

.video-title {
  color: white;
  margin-bottom: 20px;
}

.video-player {
  border: none;
}
