.video-container {
  display: flex;
  justify-content: center; /* Center the video horizontally */
  align-items: center; /* Center the video vertically */
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Ensure no scrollbars appear */
}

.video-player {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Ensures the video covers the screen while maintaining aspect ratio */
  border: none;
}

.video-title {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  z-index: 10;
  font-size: 24px;
}

.video-player {
  border: none;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
}

.error {
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.error span {
  margin-left: 10px;
}